h1{
 font-size: 3.5em;
}
h1  > span{
   position: relative;
   display: inline-block;
   color: #ff8800;
   height: 1.25em;
   vertical-align: bottom;
   overflow: hidden;
}

h1 > span >span {
    display: block;
    animation: animatewords 5s infinite ease;
}
@keyframes animatewords {
    0% { transform: translateY(0%);}
    25% { transform: translateY(-100%);}
    50% { transform: translateY(-200%);}
    75% { transform: translateY(-300%);}
    100% { transform: translateY(-400%);}
}

body{
   align-items: center;
   
   height: 100vh;
   margin: 0;
   padding: 0;
   background-color: black;
   color: white;}

button:hover{
    box-shadow: -5px -5px 23px #eb00ff,
    5px 5px 23px #00f0ff;    
}

button{
    
    transition: box-shaddow 0.3s ease;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 12px 36px;
    transition: all 0.7s ease-in-out;
    

}
